* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4c1c5f;
    background-image: linear-gradient(147deg, #4c1c5f 0%, #000000 74%);
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 700px;
    height: 700px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

#blogify {
    font-family: 'Grape Nuts',
        cursive;
    color: white;
    font-size: x-large
}

.space {
    width: 100%;
    height: 50px;
}

.cat {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    font-weight: 600;
    cursor: pointer;
    transition: all .2s linear;
    color: white;
}

.menu:hover {
    border-bottom: 3px solid #b831ed;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.landing {
    min-height: 100vh;
}

.details {
    display: block;
}

.back {
    display: none;
}

.updt {
    display: none;
}

#read-area {
    display: none;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.new-form {
    display: none;
}

.updt-form {
    display: none;
}

i {
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.del:hover {
    color: red;
    background-color: black;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-linkedin:hover {
    color: #0966C2;
}

.card-img-top {
    width: 18rem !important;
    height: 18rem !important;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 4px rgba(255, 255, 255, 0.4);
}

@media(max-width:900px) {
    .cat {
        flex-basis: 45%;
    }
}

@media(max-width:600px) {
    .card-img-top {
        width: 12rem !important;
        height: 12rem !important;
    }

    .card {
        width: 12rem !important;
    }

    #blogify {
        font-size: large;
    }

    .cat {
        flex-basis: 60%;
    }
}

footer {
    color: white;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 18vh;
    background-color: black;
    text-align: center;
    padding-top: 30px;
}

.read {
    background-color: #5E3A6B;
    color: white;
    transition: all 0.5;
}

.read span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.read span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.read:hover span {
    padding-right: 25px;
}

.read:hover span:after {
    opacity: 1;
    right: 0;
}

.updt,
.back {
    transition: all 0.3s ease;
    margin: 5px 10px;
}

.updt:hover,
.back:hover {
    font-weight: 600;
    transform: scale(1.1);
    box-shadow: 1px 1px 7px 3px rgba(255, 255, 255, 0.4)
}

.post,
.frm-updt {
    background-color: #5E3A6B;
    color: white;
}

.post:hover,
.frm-updt:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    color: white;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}