* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 20px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}

.nav-left ul li {
    list-style-type: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.landing {
    background-image: linear-gradient(to right top, #804cba, #3775db, #0094e4, #00addc, #11c2cc);
    height: 500vh;
}

.details {
    display: block;
}

.back {
    display: none;
}

.updt {
    display: none;
}

#read-area {
    display: none;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.new-form {
    display: none;
}

.updt-form {
    display: none;
}

i {
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

i:hover {
    color: red;
    background-color: black;
}